{% extends "blog/base.html" %}
{% block content %}

    <style>
    legend{text-align: center;}
    input{width: 100%; margin-bottom: 15px;}
    label{width:50%}
    button{width: 100%; margin-bottom: 25px;}
    .helptext{text-align: center;display: block;}
    .si{text-align: center; margin-left: auto; margin-right: auto; display:block;}
    ul{list-style-type:none;}
    textarea{width: 100%;}
    form a{color: gray !important; text-align: center; display: block;}

    </style>

    
    <form method="POST">
        {% csrf_token %}
        <fieldset>

            <legend>Delete Post</legend>
            
        </fieldset>
        <button type = "submit">Delete Location</button>
        <a href="{% url 'post-detail' object.l_id %}">Cancel</a>
    </form>
    
    <a class = "si">Already Have An Account? Sign In</a>
        
    
{% endblock content %}