{% extends "blog/base.html" %}
{% block content %}
<style>
legend{text-align: center;}
input{width: 100%; margin-bottom: 15px;}
label{width:50%}
button{width: 100%; margin-bottom: 25px;}
.helptext{text-align: center;display: block;}
.si{text-align: center; margin-left: auto; margin-right: auto; display:block;}
ul{list-style-type:none;}

</style>

    <div>

        <form method="POST">
            {% csrf_token %}
            <fieldset>

                <legend>Log In</legend>
                {{form}}

            </fieldset>
            <button type = "submit">Log In</button>
        </form>

    </div>
{% endblock content %}